.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
}

.logoContainer {
  height: 250px;
  width: 250px;

  margin-right: 48px;
}

.logoContainer img {
  height: 100%;
  width: 100%;

  rotate: -70deg;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: "Inter";
  font-weight: 600;
  font-size: 3.3rem;
  line-height: 36px;
}

.menu li {
  cursor: pointer;
  display: block;
  width: 500px;
}

.menu li a {
  cursor: pointer;
}

.menuLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

.menuIcon {
  font-size: 0.9em;
  transition: all 0.2s ease;
}

.menuLink:hover .menuIcon {
  color: transparent;
  position: relative;
}

.menuLink:hover .menuIcon::after {
  content: "●";
  position: absolute;
  left: 0;
  top: 0;
  color: white;
}

@media (max-width: 860px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;

    max-width: 420px;
    width: 100%;
    min-width: 280px;
  }

  .logoContainer {
    margin-right: 0;
    margin-bottom: 48px;
  }

  .menu {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 20px;

    width: 100%;
  }

  .menu li {
    width: 100%;
  }

  .menuIcon {
    font-size: 0.8em;
  } 
}