* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
head,
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #ffffff;
  color: #ffffff;

  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Inter", serif;

  overscroll-behavior: none;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: "Inter", serif;
  letter-spacing: 0.03em;
}
